.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 10;


}

.mat-mdc-form-field {
    width: 500px;
    margin-top: 15px;
    height: 70px;
    border-radius: 30px;
}

.mat-form-field.search-bar {
    width: 70%;
    /* Adjust the width as needed */
    max-width: 400px;
    /* Set a maximum width */
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* Center horizontally */
}

/* Apply these styles to the app-search-bar component */
.center-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    /* Adjust the width as needed */
    max-width: 400px;
    /* Set a maximum width */
}