/* Updated CSS for Product Cards */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    background-image: url("../../assets/yellow-bg.svg");
}

.product-card {
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    height: 100%;




    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s;
    border: 3px solid transparent;

}

.custom-card:hover {

    transition: 0.2s;
}

.product-card:hover {
    transform: perspective(1000px) rotateY(5deg);
    transition: 0.3s;

}

.product-image img {
    width: 100%;
    /* Set the width to 100% to scale the image */
    height: auto;
    /* Allow the image to adjust its height while maintaining aspect ratio */
    object-fit: cover;
    /* Fill the container and crop the excess content */
    border-radius: 5px 5px 0 0;
    /* Rounded corners if needed */
    margin: 40px auto 0;
    /* Adjust the top margin value as needed */
    /* Center the image horizontally */
    display: block;
    /* Remove any default inline spacing */

}

.product-details {
    padding: 16px;
    text-align: center;
}

.product-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.product-image img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.product-description {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
    display: none;
    /* Hide the description */
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #ff5722;
    margin-bottom: 10px;
}

.product-tags {
    font-size: 12px;
    color: #777777;
    margin-bottom: 10px;
}

.mat-icon-button {
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.mat-icon-button:hover {
    background-color: #ff7043;
}


/* CSS for Cart Icon */
.cart-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}