<div class="product-grid">
  <div class="custom-card" *ngFor="let product of products">
    <mat-card class="product-card cursor-pointer border-green-500">
      <div class="product-image">
        <img
          mat-card-image
          [src]="product.productImageURL"
          alt="Product image"
        />
      </div>
      <div class="product-details">
        <mat-card-header>
          <mat-card-title class="product-title text-center">
            {{ product.productName }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="product-price">{{ product.productPrice }}</p>
          <p class="product-tags">
            Tags:
            <span *ngFor="let tag of product.productTags" class="tag-pill">
              {{ tag }}
            </span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-icon-button
            class="text-orange-500"
            (click)="addItemToCart(product)"
          >
            <mat-icon class="cart-icon hover:scale-125 transition"
              >add_shopping_cart</mat-icon
            >
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
