<div class="modal-container">
  <div class="modal-content">
    <button class="close-button" (click)="closeModal()">&#10006;</button>

    <form (ngSubmit)="submitOrder()" #checkoutForm="ngForm">
      <!-- Billing Information -->
      <h2>Billing</h2>
      <div class="divider"></div>
      <div class="form-row">
        <div class="form-group">
          <label for="billingFirstName">First Name:</label>
          <input
            type="text"
            id="billingFirstName"
            name="billingFirstName"
            [(ngModel)]="billingFirstName"
            required
          />
        </div>
        <div class="form-group">
          <label for="billingLastName">Last Name:</label>
          <input
            type="text"
            id="billingLastName"
            name="billingLastName"
            [(ngModel)]="billingLastName"
            required
          />
        </div>
        <div class="form-group">
          <label for="billingAddress">Address:</label>
          <input
            type="text"
            id="billingAddress"
            name="billingAddress"
            [(ngModel)]="billingAddress"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="billingCity">City:</label>
          <input
            type="text"
            id="billingCity"
            name="billingCity"
            [(ngModel)]="billingCity"
            required
          />
        </div>
        <div class="form-group">
          <label for="billingState">State:</label>
          <input
            type="text"
            id="billingState"
            name="billingState"
            [(ngModel)]="billingState"
            required
          />
        </div>
        <div class="form-group">
          <label for="billingZip">Zip Code:</label>
          <input
            type="text"
            id="billingZip"
            name="billingZip"
            [(ngModel)]="billingZip"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="checkbox-container">
          <input
            type="checkbox"
            id="sameShippingBilling"
            name="sameShippingBilling"
            [checked]="sameShippingBilling"
            (change)="combineShippingAndBilling()"
            class="justify-left items-left"
          />
          <label for="sameShippingBilling"
            >Same shipping and billing address</label
          >
        </div>
      </div>
      <!-- Shipping Information -->
      <h2>Shipping</h2>
      <div class="divider"></div>
      <div class="form-row">
        <div class="form-group">
          <label for="shippingFirstName">First Name:</label>
          <input
            type="text"
            id="shippingFirstName"
            name="shippingFirstName"
            [(ngModel)]="shippingFirstName"
            [disabled]="sameShippingBilling"
            required
          />
        </div>
        <div class="form-group">
          <label for="shippingLastName">Last Name:</label>
          <input
            type="text"
            id="shippingLastName"
            name="shippingLastName"
            [(ngModel)]="shippingLastName"
            [disabled]="sameShippingBilling"
            required
          />
        </div>
        <div class="form-group">
          <label for="shippingAddress">Address:</label>
          <input
            type="text"
            id="shippingAddress"
            name="shippingAddress"
            [(ngModel)]="shippingAddress"
            [disabled]="sameShippingBilling"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="shippingCity">City:</label>
          <input
            type="text"
            id="shippingCity"
            name="shippingCity"
            [(ngModel)]="shippingCity"
            [disabled]="sameShippingBilling"
            required
          />
        </div>
        <div class="form-group">
          <label for="shippingState">State:</label>
          <input
            type="text"
            id="shippingState"
            name="shippingState"
            [(ngModel)]="shippingState"
            [disabled]="sameShippingBilling"
            required
          />
        </div>
        <div class="form-group">
          <label for="shippingZip">Zip Code:</label>
          <input
            type="text"
            id="shippingZip"
            name="shippingZip"
            [(ngModel)]="shippingZip"
            [disabled]="sameShippingBilling"
            required
          />
        </div>
      </div>

      <!-- Payment Information -->
      <h2>Payment</h2>
      <div class="divider"></div>
      <div class="form-row">
        <div class="form-group">
          <label for="cardNumber">Credit Card Number:</label>
          <input
            type="text"
            id="cardNumber"
            name="cardNumber"
            [(ngModel)]="cardNumber"
            required
          />
        </div>
        <div class="form-group">
          <label for="expirationDate">Expiration Date:</label>
          <input
            type="text"
            id="expirationDate"
            name="expirationDate"
            [(ngModel)]="expirationDate"
            required
          />
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" [(ngModel)]="cvv" required />
          </div>
        </div>
      </div>

      <!-- Grand Total -->
      <h2>Grand Total</h2>
      <div class="form-group">
        <p>Total: ${{ calculateGrandTotal() }}</p>
      </div>

      <!-- Review Order -->
      <button type="submit" [disabled]="checkoutForm.invalid">
        Complete Purchase
      </button>
    </form>
  </div>
</div>
