<!-- app.component.html -->

<app-toolbar
  [products]="products"
  (filteredProductsChange)="onFilteredProductsChange($event)"
></app-toolbar>

<div class="content-container">
  <app-sidebar
    [products]="products"
    (filteredProductsChange)="onFilteredProductsChange($event)"
  ></app-sidebar>
  <app-product-display
    [products]="products"
    [filteredProducts]="filteredProducts"
  ></app-product-display>
  <button class="cart-icon" (click)="toggleCart()" *ngIf="!isCartOpen">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>

<div
  class="cart-sidebar"
  [ngClass]="{ 'sidebar-expanded': isCartOpen }"
  *ngIf="isCartOpen"
>
  <div
    class="popup-button-container"
    [ngClass]="{ active: isButtonActive }"
  ></div>
  <app-cart-sidebar
    [isCartOpen]="isCartOpen"
    (closeCartEvent)="closeCart()"
  ></app-cart-sidebar>
</div>

<button class="cart-icon" (click)="toggleCart()" *ngIf="!isCartOpen">
  <mat-icon>shopping_cart</mat-icon>
  <span class="cart-notification" *ngIf="totalItemsInCart() > 0">{{
    totalItemsInCart()
  }}</span>
</button>
