/* app.component.css */
.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    /* Adjust the padding as needed */
}

.sidebar-container {

    margin-top: 50px;

}

.content-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background: #212121;
    height: 100%;

}

.cart-icon {
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: white;
    color: #212121;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid #212121;
    cursor: pointer;
    z-index: 1000;


}

.sidebar-expanded {
    right: 0;
}


.cart-icon mat-icon {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;

}

.app-product-display {
    flex: 1;
    /* Allow products to take remaining available space */
    max-width: calc(100% - 240px);
    /* Adjust the width of the products */
}

.app-sidebar {
    width: 240px;
    /* Adjust the width of the sidebar */
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    max-height: 100vh !important;
    overflow-y: auto;
    background-color: #f0f0f0;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 999;
    border-radius: 10px 0 0 10px;
}