.sidebar {
    width: 240px;
}

.headers {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}


span {
    font-size: 32px;
    font-weight: bold;
}

.price-slider-section input[type="range"] {
    width: 100%;
    height: 20px;
}

.customer-review-section {
    cursor: pointer;
}



.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}