<div class="text-white p-4 sidebar">
  <!-- Customer Review Section -->
  <div class="customer-review-section">
    <p class="headers">Customer Review</p>
    <ul style="font-size: 24px">
      <li (click)="filterByRating(4)">
        <span class="star-rating">★★★★</span> & Up
      </li>
      <li (click)="filterByRating(3)">
        <span class="star-rating">★★★☆</span> & Up
      </li>
      <li (click)="filterByRating(2)">
        <span class="star-rating">★★☆☆</span> & Up
      </li>
      <li (click)="filterByRating(1)">
        <span class="star-rating">★☆☆☆</span> & Up
      </li>
    </ul>
  </div>

  <div class="price-slider-section">
    <p class="headers" style="margin-top: 20px">Price Range</p>
    <input type="range" [(ngModel)]="minPrice" min="0" [max]="maxPrice" />
    <input type="range" [(ngModel)]="maxPrice" min="0" [max]="maxPrice" />
    <div class="price-range">{{ minPrice }} - {{ maxPrice }}</div>
  </div>

  <p class="headers" style="margin-top: 20px">Tags</p>
  <div *ngFor="let product of products">
    <ul class="flex flex-wrap -mx-2">
      <li
        class="px-2 w-1/2"
        *ngFor="let tag of removeDuplicates(product.productTags).slice(0, 2)"
        (click)="filterByTag(tag)"
        [class.selected]="tag === selectedTag"
      >
        <a href="#" class="hover:bg-gray-600 rounded block text-truncate">{{
          tag
        }}</a>
      </li>
    </ul>
  </div>
</div>
