<div class="chat-container">
  <div class="close-button" (click)="toggleCart()">&#10006;</div>
  <div class="sidebar-header">Your Shopping Cart</div>
  <div class="item-container">
    <div
      class="flex flex-col justify-center items-center text-center h-fit-content"
      *ngIf="getItemsInCart().length == 0"
    >
      <div class="">Your cart is empty</div>
    </div>
    <div
      class="flex flex-col justify-center items-center text-center h-fit-content"
      *ngIf="getItemsInCart().length > 0"
    >
      <app-cart-item
        *ngFor="let item of getItemsInCart()"
        [item]="item"
        (removeItemEvent)="removeItem($event)"
      ></app-cart-item>
    </div>

    <button style="font-size: 24px">Check Out</button>
  </div>
</div>
