<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Montserrat:wght@900&family=Pixelify+Sans:wght@500&family=Rubik+Doodle+Shadow&family=Space+Grotesk:wght@300&display=swap"
  rel="stylesheet"
/>

<mat-toolbar class="mat-toolbar">
  <div class="img-container">
    <img
      src="../../assets/new C.png"
      class="hover:scale-105 transition-transform"
      alt="Logo"
    />
    <img
      src="../../assets/new C flip.png"
      class="hover:scale-105 transition-transform"
      alt="Logo"
    />
  </div>
  <div class="site-title">CONTRA COSTCO</div>

  <div class="flex flex-row justify-center items-center">
    <app-search-bar
      class="center-search items-center justify-center"
      (search)="performSearch($event)"
    ></app-search-bar>
  </div>
</mat-toolbar>
