.img-container {
    display: flex;
    justify-content: center;
    /* Aligns items to the center, reducing space around them */
    align-items: center;
    height: 60px;
    width: 100px;
    /* You might want to adjust this if it's too narrow */
    margin-left: 20px;
    border: 0;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}

/* Add a negative margin to bring the images closer */
.img-container img {
    margin-right: -7px;

    transition: transform 0.3s ease-in-out;
    height: auto;

    width: 45px;
}


.img-container img:last-child {
    margin-left: -0px;

}


.site-title {
    font-size: 4rem !important;
    font-weight: bold;
    text-align: center;
    color: transparent;

    border-radius: 5px;
    line-height: 0.7;


    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}



.mat-toolbar-row,
.mat-toolbar-single-row {
    padding: 0;
    gap: 40px;

}

.mat-toolbar {
    border-bottom: 3px solid white;
    display: flex;
    background: linear-gradient(to right, #00000000, #05041397, #8E5242D3, #AB5A49F6, #905132FC, #4B2423A6, #793A27CC, #A8410FCB, #02000107, #02020204)
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.center-search {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Apply the pulse animation to the first image */
.img-container img:first-child {
    animation: pulse-animation 5s alternate infinite;
    /* Alternate animation on a 2-second loop */
}

/* Apply the pulse animation to the second image */
.img-container img:nth-child(2) {
    animation: pulse-animation 5s alternate infinite;
    /* Alternate animation on a 2-second loop */
}

.account-button {


    background-color: white;
    color: #212121;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

    border: 3px solid #212121;
    cursor: pointer;
    z-index: 1000;


}

.account-button:hover {
    background-color: #212121;
    color: white;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        /* Start with normal size */
    }

    50% {
        transform: scale(1.05);
        /* Scale up to 110% size */
    }

    100% {
        transform: scale(1);
        /* Back to normal size */
    }
}