<mat-toolbar class="mat-toolbar">
  <div class="img-container">
    <img
      src="../../assets/new C.png"
      class="hover:scale-105 transition-transform"
      alt="Logo"
    />
    <img
      src="../../assets/new C flip.png"
      class="hover:scale-105 transition-transform"
      alt="Logo"
    />
  </div>
  <div class="site-title">CONTRA COSTCO</div>

  <div class="flex flex-grow justify-center items-center">
    <!-- Added flex-grow -->
    <app-search-bar
      class="center-search items-center justify-center"
      (search)="performSearch($event)"
    ></app-search-bar>
  </div>
  <div class="flex justify-end flex-row">
    <div class="account-button w-1/2 mr-3">
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
</mat-toolbar>
